
input[type="text"].subs {
	background:none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
	
	border-radius:0;
	color: #333;
	margin-bottom: 0;
	min-width: 30%;
	padding: 12px;
	border-radius: 4px;
	-webkit-transition: 0.4s border linear;
	-moz-transition: 0.4s border ease-in-out;
	-o-transition: 0.4s border ease-in-out;
	-ms-transition: 0.4s border ease-in-out;
	transition: 0.4s border linear;

}
input[type="text"].subs:focus{
	color: #000;
	background:#fff;
	box-shadow:0 0 6px #333;
	border-color:transparent !important;
	text-shadow:1px 0 0 rgba(255, 255, 255, 0.9);
}

input[type=submit]{
	width:auto;
	z-index:999;
	padding:.7em;
	display:inline-block;
	font-weight:bold;
	text-shadow:1px 1px rgba(0,0,0,0.2);
	border:0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#fff;
	-webkit-transition: 0.4s background ease-in-out;
	-moz-transition: 0.4s background ease-in-out;
	-o-transition: 0.4s background ease-in-out;
	-ms-transition: 0.4s background ease-in-out;
	transition: 0.4s background ease-in-out;
	background:#3181F9;
	background:-moz-linear-gradient(top,#3181F9 0,#3C89FC 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#3181F9),color-stop(100%,#3C89FC));
	background:-o-linear-gradient(top,#3181F9 0,#3C89FC 100%);
	background:-ms-linear-gradient(top,#3181F9 0,#3C89FC 100%);
	background:linear-gradient(to top,#3181F9 0,#3C89FC 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3181F9',endColorstr='#3C89FC',GradientType=0);
}

input[type=submit]:hover{
	cursor:pointer;
	background:#3C89FC;
	color:#f2f2f2;
	background:-moz-linear-gradient(top,#3C89FC 0,#3181F9 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#3C89FC),color-stop(100%,#3181F9));
	background:-o-linear-gradient(top,#3C89FC 0,#3181F9 100%);
	background:-ms-linear-gradient(top,#3C89FC 0,#3181F9 100%);
	background:linear-gradient(to top,#3C89FC 0,#3181F9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C89FC',endColorstr='#3181F9',GradientType=0)
}

input[type=submit]:active{
	-moz-box-shadow:inset 0 0 6px 2px rgba(49, 129, 249,0.8);
	-webkit-box-shadow:inset 0 0 6px 2px rgba(49, 129, 249,0.8);
	box-shadow:inset 0 0 6px 2px rgba(49, 129, 249,0.8);
}
.label-warning, .badge-warning {
    background-color: #3181F9;
    display: inline;
    position: relative;
}

.SubTitle h1 span {
    background: none repeat scroll 0 0 #3181F9;
    padding: 10px 20px 0;
}
.twitter-content a, .twitter-meta a {
	color: #3181F9;
}



/*update*/

.logo,.skills li,.overlay,.overlay i {
    background:#3181F9;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
	background:#3181F9;
	background:-moz-linear-gradient(top,#3181F9 0,#3C89FC 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#3181F9),color-stop(100%,#3C89FC));
	background:-o-linear-gradient(top,#3181F9 0,#3C89FC 100%);
	background:-ms-linear-gradient(top,#3181F9 0,#3C89FC 100%);
	background:linear-gradient(to top,#3181F9 0,#3C89FC 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3181F9',endColorstr='#3C89FC',GradientType=0);
}

.SubscribeTitle h4 span {
    color: #3181F9;
}

.nav > li > a:hover,
.nav > li > a:focus {
-webkit-transition: 0.4s background ease-in-out;
	-moz-transition: 0.4s background ease-in-out;
	-o-transition: 0.4s background ease-in-out;
	-ms-transition: 0.4s background ease-in-out;
	transition: 0.4s background ease-in-out;
	text-decoration: none;
	color:#f2f2f2;
	background:#3181F9;
	background:-moz-linear-gradient(top,#3181F9 0,#3C89FC 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#3181F9),color-stop(100%,#3C89FC));
	background:-o-linear-gradient(top,#3181F9 0,#3C89FC 100%);
	background:-ms-linear-gradient(top,#3181F9 0,#3C89FC 100%);
	background:linear-gradient(to top,#3181F9 0,#3C89FC 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3181F9',endColorstr='#3C89FC',GradientType=0);
}
.header{
	border-top: 4px solid #3181F9;
}
