
input[type=submit]{
	width:auto;
	z-index:999;
	padding:.7em;
	display:inline-block;
	font-weight:bold;
	text-shadow:1px 1px rgba(0,0,0,0.2);
	border:0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#fff;
	-webkit-transition: 0.4s background ease-in-out;
	-moz-transition: 0.4s background ease-in-out;
	-o-transition: 0.4s background ease-in-out;
	-ms-transition: 0.4s background ease-in-out;
	transition: 0.4s background ease-in-out;
	background:#8cbf26;
	background:-moz-linear-gradient(top,#8cbf26 0,#97CE29 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8cbf26),color-stop(100%,#97CE29));
	background:-o-linear-gradient(top,#8cbf26 0,#97CE29 100%);
	background:-ms-linear-gradient(top,#8cbf26 0,#97CE29 100%);
	background:linear-gradient(to top,#8cbf26 0,#97CE29 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cbf26',endColorstr='#97CE29',GradientType=0);
}

input[type=submit]:hover{
	cursor:pointer;
	background:#97CE29;
	color:#f2f2f2;
	background:-moz-linear-gradient(top,#97CE29 0,#8cbf26 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#97CE29),color-stop(100%,#8cbf26));
	background:-o-linear-gradient(top,#97CE29 0,#8cbf26 100%);
	background:-ms-linear-gradient(top,#97CE29 0,#8cbf26 100%);
	background:linear-gradient(to top,#97CE29 0,#8cbf26 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#97CE29',endColorstr='#8cbf26',GradientType=0)
}

input[type=submit]:active{
	-moz-box-shadow:inset 0 0 6px 2px rgba(140, 191, 38,0.8);
	-webkit-box-shadow:inset 0 0 6px 2px rgba(140, 191, 38,0.8);
	box-shadow:inset 0 0 6px 2px rgba(140, 191, 38,0.8);
}
.label-warning, .badge-warning {
    background-color: #8cbf26;
    display: inline;
    position: relative;
}

.SubTitle h1 span {
    background: none repeat scroll 0 0 #8cbf26;
    padding: 10px 20px 0;
}
.twitter-content a, .twitter-meta a {
	color: #8cbf26;
}



/*update*/

.logo,.skills li,.overlay,.overlay i {
    background:#8cbf26;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
	background:#8cbf26;
	background:-moz-linear-gradient(top,#8cbf26 0,#97CE29 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8cbf26),color-stop(100%,#97CE29));
	background:-o-linear-gradient(top,#8cbf26 0,#97CE29 100%);
	background:-ms-linear-gradient(top,#8cbf26 0,#97CE29 100%);
	background:linear-gradient(to top,#8cbf26 0,#97CE29 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cbf26',endColorstr='#97CE29',GradientType=0);

}

.SubscribeTitle h4 span {
    color: #8cbf26;
}
.nav > li > a:hover,
.nav > li > a:focus {
-webkit-transition: 0.4s background ease-in-out;
	-moz-transition: 0.4s background ease-in-out;
	-o-transition: 0.4s background ease-in-out;
	-ms-transition: 0.4s background ease-in-out;
	transition: 0.4s background ease-in-out;
	text-decoration: none;
	color:#f2f2f2;
	background:#8cbf26;
	background:-moz-linear-gradient(top,#8cbf26 0,#97CE29 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8cbf26),color-stop(100%,#97CE29));
	background:-o-linear-gradient(top,#8cbf26 0,#97CE29 100%);
	background:-ms-linear-gradient(top,#8cbf26 0,#97CE29 100%);
	background:linear-gradient(to top,#8cbf26 0,#97CE29 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cbf26',endColorstr='#97CE29',GradientType=0);
}
.header{
	border-top: 4px solid #8cbf26;
}
