
input[type=submit]{
	width:auto;
	z-index:999;
	padding:.7em;
	display:inline-block;
	font-weight:bold;
	text-shadow:1px 1px rgba(0,0,0,0.2);
	border:0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#fff;
	-webkit-transition: 0.4s background ease-in-out;
	-moz-transition: 0.4s background ease-in-out;
	-o-transition: 0.4s background ease-in-out;
	-ms-transition: 0.4s background ease-in-out;
	transition: 0.4s background ease-in-out;
	background:#FC167A;
	background:-moz-linear-gradient(top,#FC167A 0,#FC358B 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FC167A),color-stop(100%,#FC358B));
	background:-o-linear-gradient(top,#FC167A 0,#FC358B 100%);
	background:-ms-linear-gradient(top,#FC167A 0,#FC358B 100%);
	background:linear-gradient(to top,#FC167A 0,#FC358B 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FC167A',endColorstr='#FC358B',GradientType=0);
}

input[type=submit]:hover{
	cursor:pointer;
	background:#FC358B;
	color:#f2f2f2;
	background:-moz-linear-gradient(top,#FC358B 0,#FC167A 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FC358B),color-stop(100%,#FC167A));
	background:-o-linear-gradient(top,#FC358B 0,#FC167A 100%);
	background:-ms-linear-gradient(top,#FC358B 0,#FC167A 100%);
	background:linear-gradient(to top,#FC358B 0,#FC167A 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FC358B',endColorstr='#FC167A',GradientType=0)
}

input[type=submit]:active{
	-moz-box-shadow:inset 0 0 6px 2px rgba(252, 22, 122,0.8);
	-webkit-box-shadow:inset 0 0 6px 2px rgba(252, 22, 122,0.8);
	box-shadow:inset 0 0 6px 2px rgba(252, 22, 122,0.8);
}
.label-warning, .badge-warning {
    background-color: #FC167A;
    display: inline;
    position: relative;
}

.SubTitle h1 span {
    background: none repeat scroll 0 0 #FC167A;
    padding: 10px 20px 0;
}
.twitter-content a, .twitter-meta a {
	color: #FC167A;
}



/*update*/

.logo,.skills li,.overlay,.overlay i {
    background:#FC167A;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
	background:#FC167A;
	background:-moz-linear-gradient(top,#FC167A 0,#FC358B 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FC167A),color-stop(100%,#FC358B));
	background:-o-linear-gradient(top,#FC167A 0,#FC358B 100%);
	background:-ms-linear-gradient(top,#FC167A 0,#FC358B 100%);
	background:linear-gradient(to top,#FC167A 0,#FC358B 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FC167A',endColorstr='#FC358B',GradientType=0);
}

.SubscribeTitle h4 span {
    color: #FC167A;
}
.nav > li > a:hover,
.nav > li > a:focus {
-webkit-transition: 0.4s background ease-in-out;
	-moz-transition: 0.4s background ease-in-out;
	-o-transition: 0.4s background ease-in-out;
	-ms-transition: 0.4s background ease-in-out;
	transition: 0.4s background ease-in-out;
	text-decoration: none;
	color:#f2f2f2;
	background:#FC167A;
	background:-moz-linear-gradient(top,#FC167A 0,#FC358B 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FC167A),color-stop(100%,#FC358B));
	background:-o-linear-gradient(top,#FC167A 0,#FC358B 100%);
	background:-ms-linear-gradient(top,#FC167A 0,#FC358B 100%);
	background:linear-gradient(to top,#FC167A 0,#FC358B 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FC167A',endColorstr='#FC358B',GradientType=0);
}
.header{
	border-top: 4px solid #FC167A;
}
