
input[type=submit]{
	width:auto;
	z-index:999;
	padding:.7em;
	display:inline-block;
	font-weight:bold;
	text-shadow:1px 1px rgba(0,0,0,0.2);
	border:0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#fff;
	-webkit-transition: 0.4s background ease-in-out;
	-moz-transition: 0.4s background ease-in-out;
	-o-transition: 0.4s background ease-in-out;
	-ms-transition: 0.4s background ease-in-out;
	transition: 0.4s background ease-in-out;
	background:#FF3E1C;
	background:-moz-linear-gradient(top,#FF3E1C 0,#FF492D 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF3E1C),color-stop(100%,#FF492D));
	background:-o-linear-gradient(top,#FF3E1C 0,#FF492D 100%);
	background:-ms-linear-gradient(top,#FF3E1C 0,#FF492D 100%);
	background:linear-gradient(to top,#FF3E1C 0,#FF492D 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3E1C',endColorstr='#FF492D',GradientType=0);
}

input[type=submit]:hover{
	cursor:pointer;
	background:#FF492D;
	color:#f2f2f2;
	background:-moz-linear-gradient(top,#FF492D 0,#FF3E1C 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF492D),color-stop(100%,#FF3E1C));
	background:-o-linear-gradient(top,#FF492D 0,#FF3E1C 100%);
	background:-ms-linear-gradient(top,#FF492D 0,#FF3E1C 100%);
	background:linear-gradient(to top,#FF492D 0,#FF3E1C 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF492D',endColorstr='#FF3E1C',GradientType=0)
}

input[type=submit]:active{
	-moz-box-shadow:inset 0 0 6px 2px rgba(255, 62, 28,0.8);
	-webkit-box-shadow:inset 0 0 6px 2px rgba(255, 62, 28,0.8);
	box-shadow:inset 0 0 6px 2px rgba(255, 62, 28,0.8);
}
.label-warning, .badge-warning {
    background-color: #FF3E1C;
    display: inline;
    position: relative;
}

.SubTitle h1 span {
    background: none repeat scroll 0 0 #FF3E1C;
    padding: 10px 20px 0;
}
.twitter-content a, .twitter-meta a {
	color: #FF3E1C;
}



/*update*/

.logo,.skills li,.overlay,.overlay i {
    background:#FF3E1C;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
	background:#FF3E1C;
	background:-moz-linear-gradient(top,#FF3E1C 0,#FF492D 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF3E1C),color-stop(100%,#FF492D));
	background:-o-linear-gradient(top,#FF3E1C 0,#FF492D 100%);
	background:-ms-linear-gradient(top,#FF3E1C 0,#FF492D 100%);
	background:linear-gradient(to top,#FF3E1C 0,#FF492D 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3E1C',endColorstr='#FF492D',GradientType=0);
}

.SubscribeTitle h4 span {
    color: #FF3E1C;
}
.nav > li > a:hover,
.nav > li > a:focus {
-webkit-transition: 0.4s background ease-in-out;
	-moz-transition: 0.4s background ease-in-out;
	-o-transition: 0.4s background ease-in-out;
	-ms-transition: 0.4s background ease-in-out;
	transition: 0.4s background ease-in-out;
	text-decoration: none;
	color:#f2f2f2;
	background:#FF3E1C;
	background:-moz-linear-gradient(top,#FF3E1C 0,#FF492D 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF3E1C),color-stop(100%,#FF492D));
	background:-o-linear-gradient(top,#FF3E1C 0,#FF492D 100%);
	background:-ms-linear-gradient(top,#FF3E1C 0,#FF492D 100%);
	background:linear-gradient(to top,#FF3E1C 0,#FF492D 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3E1C',endColorstr='#FF492D',GradientType=0);
}
.header{
	border-top: 4px solid #FF3E1C;
}
